# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# macOS
.DS_Store

# Uploaded files
uploads/

# Generated reports
reports/
audit_reports/
audit_downloads/

# CSV / Excel exports
*.csv
*.xlsx

# Flask instance files
instance/

# VS Code
.vscode/

# PyCharm
.idea/